/* Global Properties */
html {
    scroll-behavior: smooth;
  }
  
  body {
    background:#1f2235;
    font-family: "Baloo Tamma 2", cursive;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }
  
  /* Navigation */
  .navigation-link {
    border: 2px solid transparent;
  }
  
  .navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
  }
  
  /* Main Container height*/
  .main-container {
    height: 100vh;
   /* border: 5px solid red;*/
    margin-top: 15px;
    margin-top: 15px;
  }
  
  /* Aligning items in main row */
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mainimg img{
   /* border: 2px solid greenyellow; */
    height:500px;
    width: 500px;
    border-radius:50%;
   
  }
  
  /* Changing Name Font sixe */
  .main_row h1 {
    font-size: 4rem;
  }
  
  /* Making the main image the size of the screen */
  .main_row {

    width:auto;
    height:auto;
    margin-top: 150px;

    
   /* border: 5px solid brown;*/
  }

  
  
  /* About Section */
  .about {
    border: 5px solid orange;
    margin-top: 10px;
    background: #1f2235;
    border-radius: 0.5rem;
  }

  .image {
      border: 3px solid white;
  }
  
  .card {
    border-bottom: 8px solid #f5ba09;
  }
  
  /* Social Media Section */
  #social-media {
    background: #313552;
  }
  
  /* Add color to Social Media Links */
  .media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid #f5ba09;
    border-radius: 0.5rem;
  }


  #projects{
    border: 2px solid white;
  }

  /*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}
#skills-word{
  color: aliceblue;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgb(245, 246, 248);
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #f5ba09;
}

#skills{
  background-color:#1f2235;
  margin-top: 50px;
}

#colour{
  border: 1px splid rgb(13, 137, 25);
}

#icons {
 background-color: white;
 margin-right: 280px;
 border-radius: 40px;
}


  
  
  